{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Post</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.post }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div id="content" >
  <div class="articles">
    <h2 > Articles </h2>
    <div id="list_articles">
      {% if last_page > 1 %}
      <div class="pagination_sector"> <a href="{{ path('post_page', { 'page': 1 }) }}"> &lt;&lt; </a> &nbsp; <a href="{{ path('post_page', { 'page': previous_page }) }}"> &lt; </a>
        <ol style="display: inline;">
          {% for page in 1..last_page %}
          {% if page == current_page %}
          <li>{{ page }}</li>
          {% else %}
          <li> <a href="{{ path('post_page', { 'page': page }) }}">{{ page }}</a> </li>
          {% endif %}
          {% endfor %}
        </ol>
        <a href="{{ path('post_page', { 'page': next_page }) }}"> &gt; </a> &nbsp; <a href="{{ path('post_page', { 'page': last_page }) }}"> &gt;&gt; </div>
      {% endif %}
      <div class="pagination_desc">
<p>        {% if last_page > 1 %}
        - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %} </div>
    </div>
  </div>
</div>
    

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
